<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de Testes - Acessível</title>
    <link id="cssFile" rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>Sistema de Monitoramento de Testes de Hardware</h1>
    </header>

    <main>
        <div class="tab-buttons">
            <a href="#login" class="tab">Login</a>
            <a href="#signup" class="tab">Cadastro</a>
        </div>
        
        <section id="login" class="form-section">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Entrar</button>
            </form>
        </section>

        <section id="signup" class="form-section">
            <h2>Cadastro</h2>
            <form action="/signup" method="POST">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
                <label for="cargo">Cargo:</label>
                <input type="text" id="cargo" name="cargo" required>
                <label for="email-cadastro">Email:</label>
                <input type="email" id="email-cadastro" name="email" required>
                <label for="password-cadastro">Senha:</label>
                <input type="password" id="password-cadastro" name="password" required>
                <button type="submit">Cadastrar</button>
            </form>
        </section>

        <section id="descricao">
            <h2>Uma breve descrição do sistema</h2>
            <p>O projeto consiste no desenvolvimento de uma aplicação
                web voltada ao monitoramento e gerenciamento de testes
                realizados em equipamentos de hardware.<br>
                A aplicação permitirá o registro, acompanhamento e
                organização detestes diversos, incluindo resultados e estatísticas
                relevantes para os usuários.</p>
            <h2>O público-alvo</h2>
            <p>Técnicos de hardware que precisam acompanhar remotamente
                testes em equipamentos.<br>
                Gerentes de projetos que necessitam controlar os processos de teste.<br>
                Equipes de qualidade interessadas nos resultados e estatísticas de
                desempenho dos equipamentos. deletar registro de testes.</p>
            <h2>Os benefícios oferecidos pela aplicação aos usuários</h2>
            <p>Organização de dados relacionados a testes de hardware.<br>
                Centralização e controle eficiente dos testes.<br>
                Segurança dos dados com acesso baseado em perfis de usuário.</p>
            <h2>As principais funcionalidades oferecidas aos diferentes perfis de usuários.</h2>
            <p>Visitante - Acesso apenas a uma página principal com informações gerais sobre os testes realizados.<br>
                Analista de Dados - Acesso aos dados registrados de testes como resultados e informações.<br>
                Gerente de Testes - Permissão para criar e editar registros de testes.<br>
                Administrador - Gerenciamento de permissões, pode deletar registro de testes</p>
            <hr>
            <h2>Informações atualizadas sobre o sistema</h2>
                <p>Número de Testes Realizados: <%= total_testes %></p>
                <p>Número de Projetos Cadastrados: <%= total_projetos %></p>
                <p>Últimos Hardwares Cadastrados:</p>
                <div class="galeria">
                    <% imagens.forEach(img => { %>
                        <div class="img-container">
                            <img width="430" height="300" alt="<%= img.projeto %>" src="images/<%= img.src %>">
                            <div class="desc">
                                <%= img.projeto %>
                            </div>
                        </div>
                    <% }) %>
                </div>
        </section>
    </main>
    <%- include('font-control') %>

    <footer>
        <p>&copy; 2025 - Monitoramento de Testes de Hardware</p>
    </footer>
    <script src="/js/index.js"></script>
    <script src="/js/acessibilidade.js"></script>
</body>
</html>
