<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Projetos</title>
    <link id="cssFile" rel="stylesheet" href="/css/projeto.css">
</head>
<body>
    <header>
        <h1>Gerenciamento de Projetos e Permissões de Usuários</h1>
        <h2><%= usuario.nome %> - Nível de Acesso 3: Administrador</h2>
        <nav>
            <a href="/user">Gerenciar Testes</a>
    </header>

    <main>
        <div class="columns">
        <div class="form-container">
            <fieldset>
                <legend>Seleção de Projeto</legend>
                <label for="projetos">Projetos:</label>
                <select id="projetos" name="projetos">
                    <% projetos.forEach(projeto => { %>
                        <option onclick="getUsers(this)" value="<%- projeto.id %>"><%= projeto.nome %></option>
                    <% }) %>
                </select>
            </fieldset>

            <fieldset>
                <legend>Hardware Relacionado ao Projeto</legend>
                <img style="width: 100%;max-height: 400px;">
            </fieldset>

            <fieldset>
                <legend>Conceder Acesso</legend>
                <label for="usuarios">Usuários:</label>
                <select id="usuarios" name="usuarios">
                    <% lista.forEach(user => { %>
                        <option onclick="getUsers(this)" value="<%- user.id %>"><%= user.nome %></option>
                    <% }) %>
                </select>
                <button class="adicionar-btn" aria-label="Adicionar usuário ao projeto">Adicionar Usuário</button>
            </fieldset>
            
            <fieldset>
                <legend>Criar Novo Projeto</legend>
                <label for="novo">Nome</label>
                <input id="novo" type="text" placeholder="Nome do Projeto">
                <label for="imagem">Imagem do Hardware</label>
                <input id="imagem" type="file" accept="image/jpeg, image/png, image/jpg">
                <button class="adicionar-btn" aria-label="Adicionar Projeto no Banco de Dados">Criar Projeto</button>
            </fieldset>
        </div>
        

        <section class="table-container">
            <h2>Lista de Usuários com Acesso</h2>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Nome Completo</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nível de Acesso</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
        </div>
    </main>
    <%- include('font-control') %>
    <script src="/js/projeto.js"></script>
    <script src="/js/acessibilidade.js"></script>
</body>
</html>
