<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Usuário</title>
    <link id="cssFile" rel="stylesheet" href="/css/user.css">
</head>
<body onload="initial()" data-nivel="<%= usuario.nivel %>">
    <header>
        <h1>Monitoramento de Testes</h1>
        <h2><%= usuario.nome %> -
        <% if (usuario.nivel == 1) { %>
            Nível de Acesso 1: Analista de Dados
        <% } else if (usuario.nivel == 2) { %>
            Nível de Acesso 2: Gerente de Testes
        <% } else if (usuario.nivel == 3) { %>
            Nível de Acesso 3: Administrador
        <% } %>
        </h2>
        <nav>
            <% if (usuario.nivel == 3) { %>
                <a href="/projeto/<%= usuario.id %>">Gerenciar Projetos</a>
            <% } %>
        </nav>
    </header>

    <main>
        <div class="tab-buttons">
            <a href="#projetos">Projetos</a>
            <% if ([2, 3].includes(usuario.nivel)) { %>
                <a href="#registro">Novo Registro</a>
            <% } %>
        </div>
        <div class="columns">
        <section id="projetos" class="form-section">
            <h2>Projetos</h2>
            <label for="projeto-select">Selecione um projeto:</label>
            <select id="projeto-select" name="projeto-select">
                <% projetosUser.forEach(projeto => { %>
                    <option onclick="getTestes(this)" value="<%- projeto.id %>"><%= projeto.nome %></option>
                <% }) %>
            </select>
            <a href="#" class="close-btn">Fechar</a>
            <fieldset id="informacoes">
                <legend style="font-weight: bold;">Informações do Projeto</legend>
                <div>
                    <p>Total de Registros:</p>
                    <p>Testes Aprovados:</p>
                    <p>Testes Reprovados:</p>
                </div>
            </fieldset>
        </section>

        <% if ([2, 3].includes(usuario.nivel)) { %>
        <section id="registro" class="form-section">
            <h2>Adicionar Registro</h2>
            <form action="/add_teste" method="post" oninput="nota.value=parseInt(avaliacao.value)">
                <label for="hardware">Hardware ID</label>
                <input id="hardware" type="text" name="hardware" required>
                <label for="modelo">Modelo</label>
                <input id="modelo" type="text" name="modelo" required>
                <label for="temperatura">Temperatura</label>
                <input id="temperatura" type="text" name="temperatura" required>
                <label for="pressao">Pressão</label>
                <input id="pressao" type="text" name="pressao" required>
                <label for="altura">Altura</label>
                <input id="altura" type="text" name="altura" required>
                <label for="data">Data</label>
                <input id="data" type="date" name="data" required>
                <label for="avaliacao">Nota de avaliação do teste: <output for="avaliacao" name="nota"></output></label>
                <input id="avaliacao" type="range" min="0" max="10" name="avaliacao" required>
                <label for="descricao">Detalhes adicionais</label>
                <textarea id="descricao" class="text-desc" rows="5" name="detalhes"></textarea>
                <button id="salvar" type="submit">Salvar</button>
                <input id="projeto_id" type="hidden" value="3" name="projeto_id">
            </form>
            <a href="#" class="close-btn">Fechar</a>
        </section>
        <% } %>

        <section class="table-container">
            <div class="table-header">
                <h2>Registros de Testes</h2>
                <button class="download-btn">Download dos Registros</button>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Teste ID</th>
                            <th>Hardware ID</th>
                            <th>Modelo</th>
                            <th>Temperatura (ºC)</th>
                            <th>Pressão (P)</th>
                            <th>Altura (m)</th>
                            <th>Data</th>
                            <th>Avaliação</th>
                            <th>Resultado</th>
                            <th>Detalhes</th>
                            <% if ([2, 3].includes(usuario.nivel)) { %>
                            <th>Ações</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
        </div>
    </main>
    <div class="modals">
        <div id="modal_id" class="modal">
            <div class="modal-cell">
              <div class="modal-content">
                <div class="modal-header">
                  <span class="close">&times;</span>
                  <h2>Detalhes do Teste 001</h2>
                </div>
                <div class="modal-body">
                </div>
              </div>
            </div>
        </div>
    </div>
    <%- include('font-control') %>
    <script src="/js/user.js"></script>
    <script src="/js/acessibilidade.js"></script>
</body>
</html>
